# Dependencies
node_modules/

# Build
/build
/dist
*.tsbuildinfo

# Environment variables
.env*

# Vercel
.vercel/

# Sanity
.sanity/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/